body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 3.0rem;
  color: #f7e9e9;
  text-transform: uppercase;
}

hr {
  border-color: #ff851d;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 25px;
}

.btn-primary {
  background-color: #ff851d;
  border-color: #ff851d;
}

.btn-primary:hover {
  background-color: #ef6e00;
  border-color: #ef6e00;
  border-width: 4px;
}

.xl-btn {
  padding: 1rem 2rem;
}